<footer class="footer mt-5 py-4 border-top">
  <div class="container">
    <div class="row">

   <!-- Column 1 -->
      <div class="col-md-4">
      <img src="{{ '/assets/img/sirl-logo-footer.png' | relative_url }}" height="50" class="mb-0" alt="SIRL logo">
      </div>

      <!-- Column 2 -->
      <div class="col-md-4">
        <p>
          305, Academic Building-1C <br>
          IISER Bhopal, Bhopal, India <br>
          <a href="mailto:haroon@iiserb.ac.in">Email</a>; 
          <a href="https://www.linkedin.com/company/106629541/">LinkedIn</a>
        </p>
      </div>

   
      <!-- Column 3 -->
      <div class="col-md-4">
      <img src="{{ '/assets/img/EECS-logo.png' | relative_url }}" height="50" class="mb-0" alt="SIRL logo">

      </div>







    </div>

    <hr>

    <div class="text-center small">
      © 2026 Systems & Informatics Research Lab (SIRL)
    </div>
  </div>
</footer>